.menu {
    width: 30%;
    background-color: #191a1e;
    height: 100vh;

    button {
        background-color: #191a1e;
        color: #b2b2b2;
        border: none;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1.5rem auto 0 auto;
        padding: 0 .5rem;
        border-radius: .35rem;
        cursor: pointer;
        transition: .3s;

        &:hover {
            background-color: #3c3d3f;
        }

        span {
            font-size: 2.75rem;
            margin-right: .5rem;
        }
    }
}