.chat {
    width: 70%;
    height: 94.5vh;
    background-color: #e9e9e9;    
    display: flex;
    flex-direction: column;

    .conversation-container {
        padding: 2rem;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 0.25rem;
        }
          
        &::-webkit-scrollbar-thumb {
            background: #8c8c8c;
        }
    }
}

@media screen and (max-width: 950px) {
    .chat {
        width: 80%;

        .conversation-container {
            padding: 1rem;
        }
    }
}