.chatHeader {
    height: 10rem;
    background-color: white;
    display: flex;
    align-items: center;

    img {
        width: 7rem;
        border-radius: 50%;
        margin-left: 4rem;
    }


    .personDetails {
        margin-left: 1.75rem;
        max-width: 60%;

        h1 {
            font-size: 2rem;
            color: #3c3d3f;
        }

        p {
            color: #8f8f8f;
            font-size: 1.25rem;
            font-weight: 500;
            margin-top: .25rem;
        }
    }
}

@media screen and (max-width: 950px) {
    .chatHeader {
        height: 6rem;

        img {
            width: 4rem;
            margin-left: 1rem;
        }

        .personDetails {
            margin-left: 1.25rem;
    
            h1 {
                font-size: 1.2rem;
            }
    
            p {
                font-size: .75rem;
            }
        }
    }
}